.social{
    display: flex;
    top:4%;
    text-align: center;
    position: fixed; /* or absolute */
    z-index: 1;
    left: 92%;
    top: 15%;
    flex-direction: column;
    //bottom: 50%;
    @media(max-width:769px){
                display: flex;
                flex-direction: column;
                left: 83%;
                top: 12%;
        }

   a {
       display: inline-block;
       width: 50px;
       height: 50px;
       background-color: #fff;
       margin: 10px;
       border-radius: 20px;
       box-shadow: 0 5px 15px -1px #00000070;
       //color:#C946B8;
       overflow: hidden;
       position: relative;
       line-height: 50px;// para centrar
       font-size: 25px; //tam;o del logo
       
   }
   @media(max-width:836px){
       a {
        width: 35px;
        height: 35px;
        line-height: 33px;
        font-size: 25px;

       }
   }

   i  {
    transition: 0.1s linear;
    }

    i:hover  {
       transform: scale(1.3);
       color: #7f0100 ;
   }
   .deezer:hover{
            transform: scale(1.3);
            color: #d79e5b ;
           }
    
           .deezer {
            transition: 0.1s linear;
            }

}
